
<div class="line_item_date">
    <div class="line_item_date__header">
        <h2 class="line_item_date__title">
            <%= l(line_item_date.date, format: :long) %>
        </h2>

<div class="line-item_date__actions">
    
    <div class="button-container">
    <div class="action-button">
    <%= button_to "Delete",
     quote_line_item_date_path(quote, line_item_date),
     method: :delete,
     form: { data: {turbo_confirm: "Are you sure"}},
     class: "btn btn--light"%>
    </div>

    <div class="action-button">
    <%= link_to "Edit",
        [:edit, quote, line_item_date],
        class: "btn btn--light" %>
        </div>
        </div>
        </div>
    </div>
</div>
