.line-item-date {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xs);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
    margin-bottom: var(--space-xs);
  }

  &__title {
    font-size: var(--font-size-xl);
    margin-top: 10px;

    @include media(tabletAndUp) {
      font-size: var(--font-size-xxl);
    }
  }

  &__actions {
    display: flex;
    gap: var(--space-xs);
  }

  &__body {
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    box-shadow: var(--shadow-small);
    margin-top: var(--space-xs);
    padding: var(--space-xxxs);
    padding-top: 0;

    @include media(tabletAndUp) {
      padding: var(--space-m);
    }
  }

  &__footer {
    border: dashed 2px var(--color-light);
    border-radius: var(--border-radius);
    text-align: center;
    padding: var(--space-xxs);

    @include media(tabletAndUp) {
      padding: var(--space-m);
    }
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.action-button {
  margin-top: 10px;
}
